.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  padding: 25px;
}
.board {
  width: 100%;
  max-width: 500px;
  height: 500px;
  background: #fff;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.125);
  position: relative;
  overflow: hidden;
}
.metaballs {
  /* Metaballs for fun through blur + contrast: 
  * https://css-tricks.com/shape-blobbing-css/ */
  /* filter: blur(15px) contrast(20); */

  background: lightgrey;
  position: relative;
  width: 100%;
  height: 100%;
}
.player {
  width: 50px;
  height: 50px;
  position: absolute;
  left: -25px;
  top: -25px;
  /* border-radius: 100%; */
  background: black;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.text {
  color: whitesmoke;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}
/* .player.red {
  background: rgba(255, 55, 0);
}
.player.blue {
  background: rgb(20, 90, 255);
}
.player.green {
  background: rgb(10, 180, 10);
} */
